<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Components / Accordion - NiceAdmin Bootstrap Template</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
	<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
	<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="assets/css/style.css" rel="stylesheet">

	<!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center">
				<img src="assets/img/logo.png" alt="">
				<span class="d-none d-lg-block">NiceAdmin</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div><!-- End Logo -->

		<div class="search-bar">
			<form class="search-form d-flex align-items-center" method="POST" action="#">
				<input type="text" name="query" placeholder="Search" title="Enter search keyword">
				<button type="submit" title="Search"><i class="bi bi-search"></i></button>
			</form>
		</div><!-- End Search Bar -->

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<li class="nav-item d-block d-lg-none">
					<a class="nav-link nav-icon search-bar-toggle " href="#">
						<i class="bi bi-search"></i>
					</a>
				</li><!-- End Search Icon-->

				<li class="nav-item dropdown">

					<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
						<i class="bi bi-bell"></i>
						<span class="badge bg-primary badge-number">4</span>
					</a><!-- End Notification Icon -->

					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
						<li class="dropdown-header">
							You have 4 new notifications
							<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
							<i class="bi bi-exclamation-circle text-warning"></i>
							<div>
								<h4>Lorem Ipsum</h4>
								<p>Quae dolorem earum veritatis oditseno</p>
								<p>30 min. ago</p>
							</div>
						</li>

						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
							<i class="bi bi-x-circle text-danger"></i>
							<div>
								<h4>Atque rerum nesciunt</h4>
								<p>Quae dolorem earum veritatis oditseno</p>
								<p>1 hr. ago</p>
							</div>
						</li>

						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
							<i class="bi bi-check-circle text-success"></i>
							<div>
								<h4>Sit rerum fuga</h4>
								<p>Quae dolorem earum veritatis oditseno</p>
								<p>2 hrs. ago</p>
							</div>
						</li>

						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
							<i class="bi bi-info-circle text-primary"></i>
							<div>
								<h4>Dicta reprehenderit</h4>
								<p>Quae dolorem earum veritatis oditseno</p>
								<p>4 hrs. ago</p>
							</div>
						</li>

						<li>
							<hr class="dropdown-divider">
						</li>
						<li class="dropdown-footer">
							<a href="#">Show all notifications</a>
						</li>

					</ul><!-- End Notification Dropdown Items -->

				</li><!-- End Notification Nav -->

				<li class="nav-item dropdown">

					<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
						<i class="bi bi-chat-left-text"></i>
						<span class="badge bg-success badge-number">3</span>
					</a><!-- End Messages Icon -->

					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
						<li class="dropdown-header">
							You have 3 new messages
							<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="message-item">
							<a href="#">
								<img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
								<div>
									<h4>Maria Hudson</h4>
									<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
									<p>4 hrs. ago</p>
								</div>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="message-item">
							<a href="#">
								<img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
								<div>
									<h4>Anna Nelson</h4>
									<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
									<p>6 hrs. ago</p>
								</div>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="message-item">
							<a href="#">
								<img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
								<div>
									<h4>David Muldon</h4>
									<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
									<p>8 hrs. ago</p>
								</div>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="dropdown-footer">
							<a href="#">Show all messages</a>
						</li>

					</ul><!-- End Messages Dropdown Items -->

				</li><!-- End Messages Nav -->

				<li class="nav-item dropdown pe-3">

					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
						<span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
					</a><!-- End Profile Iamge Icon -->

					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6>Kevin Anderson</h6>
							<span>Web Designer</span>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="users-profile.html">
								<i class="bi bi-person"></i>
								<span>My Profile</span>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="users-profile.html">
								<i class="bi bi-gear"></i>
								<span>Account Settings</span>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
								<i class="bi bi-question-circle"></i>
								<span>Need Help?</span>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="#">
								<i class="bi bi-box-arrow-right"></i>
								<span>Sign Out</span>
							</a>
						</li>

					</ul><!-- End Profile Dropdown Items -->
				</li><!-- End Profile Nav -->

			</ul>
		</nav><!-- End Icons Navigation -->

	</header><!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item">
				<a class="nav-link collapsed" href="index.html">
					<i class="bi bi-grid"></i>
					<span>Dashboard</span>
				</a>
			</li><!-- End Dashboard Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#vehicles-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-menu-button-wide"></i><span>Vehicles</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="vehicles-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/vehicles}">
							<i class="bi bi-circle"></i><span>Vehicle Data</span>
						</a>
					</li>
					<li>
						<a th:href="@{/vehicleMaintenances}">
							<i class="bi bi-circle"></i><span>Maintenance</span>
						</a>
					</li>
					<li>
						<a th:href="@{/vehicleMovements}">
							<i class="bi bi-circle"></i><span>Movements</span>
						</a>
					</li>
					<li>
						<a th:href="@{/vehicleHires}">
							<i class="bi bi-circle"></i><span>Hires</span>
						</a>
					</li>
				</ul>
			</li><!-- End Vehicles Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#parameters-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>Parameters</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="parameters-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/vehicleMakes}">
							<i class="bi bi-circle"></i><span>Vehicle Makes</span>
						</a>
					</li>
					<li>
						<a href="components-alerts.html">
							<i class="bi bi-circle" th:href="@{/vehicleModels}"></i><span>Vehicle Models</span>
						</a>
					</li>
					<li>
						<a th:href="@{/vehicleTypes}">
							<i class="bi bi-circle"></i><span>Vehicle Types</span>
						</a>
					</li>
					<li>
						<a th:href="@{/vehicleStatuses}">
							<i class="bi bi-circle"></i><span>Status Values</span>
						</a>
					</li>
				</ul>
			</li><!-- End Parameters Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#people-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-layout-text-window-reverse"></i><span>People</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="people-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/employees}">
							<i class="bi bi-circle"></i><span>Employee</span>
						</a>
					</li>
					<li>
						<a th:href="@{/clients}">
							<i class="bi bi-circle"></i><span>Clients</span>
						</a>
					</li>
					<li>
						<a th:href="@{/suppliers}">
							<i class="bi bi-circle"></i><span>Suppliers</span>
						</a>
					</li>
					<li>
						<a th:href="@{/contacts}">
							<i class="bi bi-circle"></i><span>Contacts</span>
						</a>
					</li>
					<li>
						<a th:href="@{/users}">
							<i class="bi bi-circle"></i><span>Users</span>
						</a>
					</li>
				</ul>
			</li><!-- End People Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#hr-setting-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-bar-chart"></i><span>HR Settings</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="hr-setting-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/jobTitles}">
							<i class="bi bi-circle"></i><span>Job Titles</span>
						</a>
					</li>
					<li>
						<a th:href="@{/employeeTypes}">
							<i class="bi bi-circle"></i><span>Employee Type</span>
						</a>
					</li>
				</ul>
			</li><!-- End HR Settings Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#accounts-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-gem"></i><span>Accounts</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="accounts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/invoices}">
							<i class="bi bi-circle"></i><span>Invoices</span>
						</a>
					</li>
					<li>
						<a th:href="@{/invoiceStatuses}">
							<i class="bi bi-circle"></i><span>Invoice Status Values</span>
						</a>
					</li>
				</ul>
			</li><!-- End Accounts Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#globals-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-layout-text-window-reverse"></i><span>Globals</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="globals-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/countries}">
							<i class="bi bi-circle"></i><span>Countries</span>
						</a>
					</li>
					<li>
						<a th:href="@{/states}">
							<i class="bi bi-circle"></i><span>States</span>
						</a>
					</li>
					<li>
						<a th:href="@{/locations}">
							<i class="bi bi-circle"></i><span>Locations</span>
						</a>
					</li>
				</ul>
			</li><!-- End Globals Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-layout-text-window-reverse"></i><span>Reports</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="reports-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/blank}">
							<i class="bi bi-circle"></i><span>Vehicle Reports</span>
						</a>
					</li>
					<li>
						<a th:href="@{/blank}">
							<i class="bi bi-circle"></i><span>Employee Reports</span>
						</a>
					</li>
					<li>
						<a th:href="@{/blank}">
							<i class="bi bi-circle"></i><span>Accounts Reports</span>
						</a>
					</li>
				</ul>
			</li><!-- End Reports Nav -->

			<li class="nav-heading">Pages</li>

			<li class="nav-item">
				<a class="nav-link collapsed" href="users-profile.html">
					<i class="bi bi-person"></i>
					<span>Profile</span>
				</a>
			</li><!-- End Profile Page Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-faq.html">
					<i class="bi bi-question-circle"></i>
					<span>F.A.Q</span>
				</a>
			</li><!-- End F.A.Q Page Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-contact.html">
					<i class="bi bi-envelope"></i>
					<span>Contact</span>
				</a>
			</li><!-- End Contact Page Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-register.html">
					<i class="bi bi-card-list"></i>
					<span>Register</span>
				</a>
			</li><!-- End Register Page Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-login.html">
					<i class="bi bi-box-arrow-in-right"></i>
					<span>Login</span>
				</a>
			</li><!-- End Login Page Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-error-404.html">
					<i class="bi bi-dash-circle"></i>
					<span>Error 404</span>
				</a>
			</li><!-- End Error 404 Page Nav -->

			<li class="nav-item">
				<a class="nav-link " href="pages-blank.html">
					<i class="bi bi-file-earmark"></i>
					<span>Blank</span>
				</a>
			</li><!-- End Blank Page Nav -->

		</ul>

	</aside><!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Blank Page</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">Pages</li>
					<li class="breadcrumb-item active">Blank</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">New
			vehicleHire</button>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Description</th>
					<th>Details</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vehicleHire:${vehicleHires}">
					<th th:text="${vehicleHire.id}"></th>
					<td th:text="${vehicleHire.description}"></td>
					<td th:text="${vehicleHire.details}"></td>
					<td>
						<div class="btn-group">
							<a class="btn btn-primary" th:href="@{/vehicleHires/findById/(id=${vehicleHire.id})}"><i
									class="bi bi-pencil-square"></i></a>
							<a class="btn btn-success" id="detailsButton"
								th:href="@{/vehicleHires/findById/(id=${vehicleHire.id})}"><i
									class="bx bx-detail"></i></a>
							<a class="btn btn-danger" id="deleteButton"
								th:href="@{/vehicleHires/delete/(id=${vehicleHire.id})}"><i
									class="bx bx-x-circle"></i></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer><!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>
	<!-- ======= Modal ======= -->
	<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form th:action="@{/vehicleHires/addNew}" method="post">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">New vehicleHire Record</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<table width="100%">
							<tr>
								<td width="50%">
									<div class="form-group row">
										<label for="idAdd" class="col-sm-4 col-form-label">Id: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="idAdd" name="id"
												placeholder="Id" disabled>
										</div>
									</div>

									<div class="form-group row">
										<label for="ddlVehicleAdd" class="col-sm-4 col-form-label">Vehicle: </label>
										<div class="col-sm-6">
											<select id="ddlVehicleAdd" name="vehicleid" class="form-control">
												<option>-SELECT-</option>
												<option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}"
													th:text="${vehicle.description}">
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label for="ddlClientAdd" class="col-sm-4 col-form-label">Client: </label>
										<div class="col-sm-6">
											<select id="ddlClientAdd" name="clientid" class="form-control">
												<option>-SELECT-</option>
												<option th:each="client : ${clients}" th:value="${client.id}"
													th:text="${client.name}">
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label for="dateOutAdd" class="col-sm-4 col-form-label">Date Out: </label>
										<div class="col-sm-6">
											<input type="date" class="form-control" id="dateOutAdd" name="dateOut"
												placeholder="Date Out">
										</div>
									</div>
									<div class="form-group row">
										<label for="timeOutAdd" class="col-sm-4 col-form-label">Time Out:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="timeOutAdd" name="timeOut"
												placeholder="Time Out">
										</div>
									</div>
								</td>
								<td width="50%" style="padding-left:10px">

									<div class="form-group row">
										<label for="ddlLocationAdd" class="col-sm-4 col-form-label">Destination:
										</label>
										<div class="col-sm-6">
											<select id="ddlLocationAdd" name="locationid" class="form-control">
												<option>-SELECT-</option>
												<option th:each="location : ${locations}" th:value="${location.id}"
													th:text="${location.description}">
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label for="dateInAdd" class="col-sm-4 col-form-label">Date In: </label>
										<div class="col-sm-6">
											<input type="date" class="form-control" id="dateInAdd" name="dateIn"
												placeholder="Date In">
										</div>
									</div>
									<div class="form-group row">
										<label for="timeInAdd" class="col-sm-4 col-form-label">Time In: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="timeInAdd" name="timeIn"
												placeholder="Time In">
										</div>
									</div>
									<div class="form-group row">
										<label for="priceAdd" class="col-sm-4 col-form-label">Price: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="priceAdd" name="price"
												placeholder="Price">
										</div>
									</div>

									<div class="form-group row">
										<label for="remarksAdd" class="col-sm-4 col-form-label">Remarks</label>
										<div class="col-sm-6">
											<textarea class="form-control" id="remarksAdd" name="remarks"
												placeholder="Remarks" rows="3"></textarea>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div><!-- End Add Modal -->

	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form th:action="@{/vehicleHires/update}" method="put">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit vehicleHire record</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<table width="100%">
							<tr>
								<td width="50%">
									<div class="form-group row">
										<label for="idEdit" class="col-sm-4 col-form-label">Id: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="idEdit" name="id"
												placeholder="Id" readonly>
										</div>
									</div>

									<div class="form-group row">
										<label for="ddlVehicleEdit" class="col-sm-4 col-form-label">Vehicle: </label>
										<div class="col-sm-6">
											<select id="ddlVehicleEdit" name="vehicleid" class="form-control">
												<option>-SELECT-</option>
												<option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}"
													th:text="${vehicle.name}">
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label for="ddlClientEdit" class="col-sm-4 col-form-label">Client: </label>
										<div class="col-sm-6">
											<select id="ddlClientEdit" name="clientid" class="form-control">
												<option>-SELECT-</option>
												<option th:each="client : ${clients}" th:value="${client.id}"
													th:text="${client.name}">
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label for="dateOutEdit" class="col-sm-4 col-form-label">Date Out: </label>
										<div class="col-sm-6">
											<input type="date" class="form-control" id="dateOutEdit" name="dateOut"
												placeholder="Date Out">
										</div>
									</div>
									<div class="form-group row">
										<label for="timeOutEdit" class="col-sm-4 col-form-label">Time Out:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="timeOutEdit" name="timeOut"
												placeholder="Time Out" rows="2">
										</div>
									</div>
								</td>
								<td width="50%" style="padding-left:10px">

									<div class="form-group row">
										<label for="ddlLocationEdit" class="col-sm-4 col-form-label">Destination:
										</label>
										<div class="col-sm-6">
											<select id="ddlLocationEdit" name="locationid" class="form-control">
												<option>-SELECT-</option>
												<option th:each="location : ${locations}" th:value="${location.id}"
													th:text="${location.description}">
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label for="dateInEdit" class="col-sm-4 col-form-label">Date In: </label>
										<div class="col-sm-6">
											<input type="date" class="form-control" id="dateInEdit" name="dateIn"
												placeholder="Date In">
										</div>
									</div>
									<div class="form-group row">
										<label for="timeInEdit" class="col-sm-4 col-form-label">Time In: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="timeInEdit" name="timeIn"
												placeholder="Time In">
										</div>
									</div>
									<div class="form-group row">
										<label for="priceEdit" class="col-sm-4 col-form-label">Price: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="priceEdit" name="price"
												placeholder="Price">
										</div>
									</div>

									<div class="form-group row">
										<label for="remarksEdit" class="col-sm-4 col-form-label">Remarks</label>
										<div class="col-sm-6">
											<textarea class="form-control" id="remarksEdit" name="remarks"
												placeholder="Remarks" rows="3"></textarea>
										</div>
									</div>
								</td>
							</tr>
						</table>
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div><!-- End Edit Modal -->

	<div class="modal" tabindex="-1" id="deleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Modal</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Do you want to delete this record</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary-secondary" id="confirmDelButton" href="">Yes</a>
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div><!-- End Ask Modal -->
	<!-- Vendor JS Files -->
	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.min.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.min.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>
	<script src="assets/js/vehicleHire.js"></script>

</body>

</html>